{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <!-- Section-->
    <section id="info-page">
        <div class="main-text">
            <h2 class="display-5 fw-bolder">{{ result.created_at | date:"m월d일"}}</h2>
            <h4 class="display-5" id="meal">{{ result.mealtimes }}</h4>
            <span class="small">*해당 영양정보는 1인분 기준의 표준정보이며, 음식양과 레시피에 따라 차이가 발생할 수 있습니다. </span>
        </div>
        <section class="">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 info-image" src="{{ result.image.url }}" alt="..." /></div>
                    <div class="col-md-6 personal">
                        <div class="card mb-3">
                            <h2 class="card-header fw-bolder">영양성분</h2>
                            <div class="card-body">
                                <h3 class="card-title">'{{ food|join:", " }}'</h3>

                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="align-items-center">
                                    <table class="table small">
                                        <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">{{ date.eaten_dt | date:"m월d일"}} 섭취량</th>
                                            <th scope="col">일일 기준</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="table-primary">
                                            <th scope="row">칼로리(kcal)</th>
                                            <td>{{ total_cal|floatformat:2}}</td>
                                            <td>{{ cal_rate }}%</td>
                                        </tr>
                                        </tbody>
                                        <tbody>
                                        <tr class="">
                                            <th scope="row">탄수화물(g)</th>
                                            <td>{{ total_carb|floatformat:2 }}</td>
                                            <td>{{ carb_rate }}%</td>
                                        </tr>
                                        </tbody>
                                        <tbody>
                                        <tr class="">
                                            <th scope="row">단백질(g)</th>
                                            <td>{{ total_prot|floatformat:2 }}</td>
                                            <td>{{ prot_rate }}%</td>
                                        </tr>
                                        </tbody>
                                        <tbody>
                                        <tr class="">
                                            <th scope="row">지방(g)</th>
                                            <td>{{ total_fat|floatformat:2 }}</td>
                                            <td>{{ fat_rate }}%</td>
                                        </tr>
                                        </tbody>
                                        <tbody>
                                        <tr class="">
                                            <th scope="row">나트륨(mg)</th>
                                            <td>{{ total_sodium|floatformat:2 }}</td>
                                            <td>{{ sodium_rate }}%</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <div class="space">

            </div>
        </section>


        <script src="{% static 'js/upload.js' %}"></script>
        <script>


            const meal = document.querySelector('#meal');
            const mealText = meal.innerHTML;

            function changeMealtime () {
                if (mealText == 1){
                    meal.innerHTML = "아침 식사 정보";
                } else if (mealText == 2) {
                    meal.innerHTML = "점심 식사 정보";
                } else if (mealText == 3) {
                    meal.innerHTML = "저녁 식사 정보";
                }
            };
            changeMealtime()

        </script>
    </section>
{% endblock %}