{#<footer class="py-5 bg-light fixed-bottom">#}
{#    <div class="container"><p class="m-0 text-center text-dark">Copyright &copy; MultiCampus Project</p></div>#}
{#</footer>#}

<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">About</li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item">Contact</li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item">Privacy Policy</li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Multicampus 2021. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#"><i class="fab fa-github fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>