.signup-form, .login_form, .detail_form, .update-form, detail-form {
  display: flex;
  margin: 50px auto;
  padding: 0;
  flex-direction: column;
  width: 30rem;
  height: 70rem;
  min-width: 450px;
}



